@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Baloo Da 2', cursive;
}

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: #036bb1d5;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  cursor: pointer;
}

.logo {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.logo span {
  font-size: 4.5rem;
}

.logo span:first-child {
  margin-right: 1rem;
  position: relative;
  z-index: 9;
}

.logo span:last-child {
  color: #bbb;
  position: absolute;
  top: .4rem;
  left: .5rem;
}

.section-1 {
  width: 100%;
  height: 65vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(38, 38, 38, 0.7)), to(rgba(38, 38, 38, 0.6))), url("../images/bg.jpg") center no-repeat;
  background: linear-gradient(to top, rgba(38, 38, 38, 0.7), rgba(38, 38, 38, 0.6)), url("../images/bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.section-1 .navbar-wrapper {
  width: 100%;
  height: 8rem;
  border-bottom: .1rem solid #eee;
}

.section-1 .navbar-wrapper .navbar {
  width: 120rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.section-1 .navbar-wrapper .navbar .menu {
  display: none;
}

.section-1 .navbar-wrapper .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item:hover {
  border-bottom: .2rem solid #fff;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item:hover a i {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item a {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item a i {
  font-size: 1.5rem;
  margin-left: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown {
  width: 100%;
  height: 20rem;
  background: -webkit-gradient(linear, left top, right top, from(#066399), color-stop(#2f8fdf), to(#066399));
  background: linear-gradient(to right, #066399, #2f8fdf, #066399);
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 100;
  padding: 0 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown .nav-dropdown-item {
  width: 25rem;
  margin: 2rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown .nav-dropdown-item .nav-dropdown-link-1 {
  font-size: 1.6rem;
  color: #fff;
}

.section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown .nav-dropdown-item .nav-dropdown-link-2 {
  font-size: 1.3rem;
  color: #fff;
}

.section-1 .navbar-wrapper .navbar .navbar-buttons .navbar-btn {
  padding: .7rem;
  width: 8rem;
  margin: .3rem;
  border-radius: 3rem;
  border: .1rem solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

.section-1 .navbar-wrapper .navbar .navbar-buttons .navbar-btn:nth-child(1) {
  color: #fff;
  background-color: transparent;
}

.section-1 .navbar-wrapper .navbar .navbar-buttons .navbar-btn:nth-child(2) {
  color: #262626;
  background-color: #fff;
}

.section-1 .banner {
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
  color: #fff;
}

.section-1 .banner h1 {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.section-1 .banner p {
  font-size: 1.8rem;
  width: 50%;
  margin: 0 auto 4rem auto;
}

.section-2 {
  width: 100%;
  padding: 10rem 0 15rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .section-2-heading {
  font-size: 5rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
}

.section-2 .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .services .service {
  width: 35rem;
  text-align: center;
  margin: 0 5rem;
}

.section-2 .services .service i {
  font-size: 6rem;
  color: #229fe7;
  margin: 2rem 0;
}

.section-2 .services .service .service-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.section-2 .services .service p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.section-2 .services .service .service-btn {
  padding: 1.5rem;
  width: 20rem;
  background-color: transparent;
  border-radius: 3rem;
  border: .1rem solid #036bb1;
  cursor: pointer;
  color: #036bb1;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-3 {
  width: 100%;
  padding: 5rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(3, 33, 129, 0.9)), color-stop(rgba(9, 67, 153, 0.8)), to(rgba(4, 32, 124, 0.9)));
  background: linear-gradient(to right, rgba(3, 33, 129, 0.9), rgba(9, 67, 153, 0.8), rgba(4, 32, 124, 0.9));
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3 .heading {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-weight: 300;
}

.section-3 .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-3 .features .feature {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.section-3 .features .feature h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 1rem auto;
}

.section-3 .features .feature p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.section-4 {
  width: 100%;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .heading {
  font-size: 5rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 5rem;
}

.section-4 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-4 .content .img-wrapper {
  width: 50rem;
}

.section-4 .content .img-wrapper img {
  width: 100%;
  opacity: .8;
}

.section-4 .content .list {
  width: 55%;
  margin-top: 2rem;
}

.section-4 .content .list li {
  font-size: 1.6rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.section-4 .content .list li a {
  color: #036bb1;
  font-weight: 300;
}

.section-4 .content .list li .number {
  width: 3.5rem;
  height: 3.5rem;
  border: .1rem solid #555;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5 {
  width: 100%;
}

.section-5 .section-5-top {
  width: 100%;
  background-color: #f3f7fa;
  text-align: center;
  padding: 7rem 0;
}

.section-5 .section-5-top .heading {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.section-5 .footer {
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0 3rem 0;
}

.section-5 .footer .footer-top {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: .1rem dotted #262626;
  padding-bottom: 1rem;
}

.section-5 .footer .footer-top .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5 .footer .footer-top .list li {
  margin-right: 2.5rem;
}

.section-5 .footer .footer-top .list li a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262626;
}

.section-5 .footer .footer-top .list li a img {
  width: 3.8rem;
  opacity: .6;
}

.section-5 .footer .footer-bottom p {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.login-page .login-page-content {
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: .1rem solid #cfcfcf;
  padding: 3rem;
}

.login-page .login-page-content .login-logo {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  position: relative;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.login-page .login-page-content .login-logo span {
  font-size: 4.5rem;
}

.login-page .login-page-content .login-logo span:first-child {
  margin-right: 1rem;
  position: relative;
  z-index: 9;
  color: #064699;
}

.login-page .login-page-content .login-logo span:nth-child(2) {
  color: #32a4f0;
  position: absolute;
  top: .4rem;
  left: .5rem;
}

.login-page .login-page-content .login-logo span:nth-child(3) {
  color: #064699;
}

.login-page .login-page-content .login-logo span:nth-child(4) {
  color: #32a4f0;
}

.login-page .login-page-content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .login-page-content .form input {
  width: 37rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: .5rem;
}

.login-page .login-page-content .form .form-input {
  padding: 0 1.5rem;
  border: .1rem solid #777;
  font-size: 1.6rem;
}

.login-page .login-page-content .form .form-login-btn {
  background-color: #036bb1;
  color: #fff;
  border: .1rem solid #036bb1;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.login-page .login-page-content .form .form-link {
  font-size: 1.6rem;
  color: #229fe7;
  margin: 1.2rem 0 1rem 0;
}

.login-page .login-page-content .form span {
  width: 2rem;
  font-size: 1.8rem;
  color: #888;
  margin: 1rem 0;
  position: relative;
}

.login-page .login-page-content .form span::before {
  content: '';
  width: 16rem;
  height: .1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-page .login-page-content .form span::after {
  content: '';
  width: 16rem;
  height: .1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-page .login-page-content .form .form-signup-btn {
  background-color: #dbe8ec;
  border: .1rem solid #dbe8ec;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.loading h1 {
  font-size: 8rem;
  color: #036bb1;
}

.loading a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.loading a i {
  font-size: 5rem;
  color: #036bb1;
}

.loading a h2 {
  color: #2D2424;
}

@media (max-width: 1500px) {
  .section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown {
    padding: 0 25rem;
  }
  .section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown .nav-dropdown-item {
    margin: 2rem 6rem;
  }
  .section-3 .features {
    width: 80%;
  }
  .section-3 .features .feature {
    padding: 0 3rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 55%;
  }
  .section-1 {
    height: 70vh;
  }
  .section-1 .banner p {
    width: 60%;
  }
  .section-2 .services {
    width: 90%;
  }
  .section-3 .features {
    width: 90%;
  }
  .section-4 .content {
    width: 80%;
  }
  .section-4 .content .img-wrapper {
    width: 60%;
    margin-right: 6rem;
  }
}

@media (max-width: 1100px) {
  .section-1 .navbar-wrapper .navbar .nav-list .nav-list-item .nav-dropdown .nav-dropdown-item {
    margin: 2rem 3.4rem;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 50%;
  }
  .section-1 {
    position: relative;
  }
  .section-1 .navbar-wrapper .navbar {
    width: 100%;
    padding: 0 5rem;
  }
  .section-1 .navbar-wrapper .navbar .nav-list {
    display: none;
  }
  .section-1 .navbar-wrapper .navbar .menu {
    width: 11rem;
    height: 4rem;
    border-radius: 3rem;
    border: .1rem solid #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  .section-1 .navbar-wrapper .navbar .menu .menu-icon {
    height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-1 .navbar-wrapper .navbar .menu .menu-icon span {
    font-size: 1.8rem;
    color: #fff;
  }
  .section-1 .navbar-wrapper .navbar .menu .menu-icon .line {
    width: 2rem;
    height: .1rem;
    background-color: #fff;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }
  .section-2 {
    padding: 10rem 0;
  }
  .section-2 .services {
    width: 95%;
  }
  .section-2 .services .service {
    width: 30rem;
    margin: 0 2rem;
  }
  .section-2 .services .service i {
    font-size: 4rem;
  }
  .section-2 .services .service .service-btn {
    width: 15rem;
    padding: 1rem;
  }
  .section-2 .section-2-heading {
    width: 80%;
    text-align: center;
    line-height: 1.2;
  }
  .section-3 .features {
    width: 100%;
  }
  .section-3 .features .feature {
    width: 50%;
    padding: 0 4rem;
  }
  .section-4 .content .img-wrapper {
    width: 49%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 37%;
  }
  .section-1 .navbar-wrapper .navbar .logo {
    display: none;
  }
  .section-1 .banner h1 {
    font-size: 4.5rem;
  }
  .section-1 .banner p {
    line-height: 1.3;
  }
  .section-2 .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-2 .services .service {
    width: 60%;
    margin-bottom: 4rem;
  }
  .section-3 .heading {
    font-size: 5.4rem;
  }
  .section-3 .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-3 .features .feature {
    width: 80%;
  }
  .section-4 .content {
    width: 100%;
    padding: 0 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-4 .content .img-wrapper {
    width: 30%;
  }
  .section-4 .content .list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-5 .footer .footer-top {
    width: 90%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 31%;
  }
  .section-1 .banner {
    top: 32%;
  }
  .section-1 .banner h1 {
    font-size: 5.2rem !important;
  }
  .section-1 .banner p {
    font-size: 2rem !important;
  }
  .section-4 .content .list span {
    font-size: 1.8rem;
  }
  .section-5 .footer .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-5 .footer .footer-top li {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */
